#container {

    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}

#preview {
    flex: 2;
}

#controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

canvas {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
}

#memeCanvas {
    width: 100%; /* Anpassung an die verfügbare Breite */
    height: auto; /* Automatische Skalierung der Höhe basierend auf der Breite */
    max-width: 900px; /* Maximale Breite des Canvas */
    border: 1px solid #ccc; /* Optional: Rahmen um das Canvas */
}